apiVersion: v1
kind: Service
metadata:
  name: discovery-server
  namespace: shopnow
  labels:
    app: discovery-server
    part-of: shopnow
spec:
  type: ClusterIP
  selector:
    app: discovery-server
  ports:
    - name: http
      port: 8761
      targetPort: 8761

