apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: shopnow
  labels:
    app: order-service
    part-of: shopnow
    version: "1.0"
spec:
  selector:
    app: order-service
  ports:
    - port: 8082
      targetPort: 8082