apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-server
  namespace: shopnow
  labels:
    app: config-server
    part-of: shopnow
    version: "1.0"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config-server
  template:
    metadata:
      labels:
        app: config-server
        part-of: shopnow
        version: "1.0"
    spec:
      containers:
        - name: config-server
          image: shopnow/config-server:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8888
          env:
            - name: SPRING_CLOUD_CONFIG_SERVER_GIT_USERNAME
              valueFrom:
                secretKeyRef:
                  name: git-credentials
                  key: username
            - name: SPRING_CLOUD_CONFIG_SERVER_GIT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: git-credentials
                  key: password
          volumeMounts:
            - name: config-volume
              mountPath: /workspace/config    # Buildpacks sets workdir to /workspace; Spring Boot resolves ./config/ from there
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "768Mi"
              cpu: "500m"

      volumes:
        - name: config-volume
          configMap:
            name: config-server-config
