apiVersion: v1
kind: Service
metadata:
  name: config-server
  namespace: shopnow
  labels:
    app: config-server
    part-of: shopnow
    version: "1.0"
spec:
  selector:
    app: config-server
  ports:
    - port: 8888
      targetPort: 8888
